// Place all the styles related to the Admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Variables
$light: #f6f6f6;
$dark: #222222;
$lightback: #eeeeee;
$green: #27ae60;
$breakpoints: (
  xs: 32rem,
  sm: 48rem,
  sm-md: 56rem,
  md: 72rem,
  md-lg: 84rem,
  lg: 96rem,
  xl: 102rem,
  xx: 120rem
);

$items: 12;
.grid {
    display: flex;
    flex-flow: row wrap;
}
// Mixins

@mixin break($size) {
  @media (min-width: map-get($breakpoints, $size)) {
    @content;
  }
}
@mixin f-size($font-size) {
    font-size: #{$font-size};
}

@mixin title-font($size) {
    font-size: #{map-get($font-sizes, $size)};
    font-family: Montserrat;
    font-weight: 700;
}
@mixin transform($transforms) {
	   -moz-transform: $transforms;
	     -o-transform: $transforms;
	    -ms-transform: $transforms;
	-webkit-transform: $transforms;
          transform: $transforms;
}
@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}
@mixin transition-property($property...) {
    -moz-transition-property:    $property;
    -o-transition-property:      $property;
    -webkit-transition-property: $property;
    transition-property:         $property;
}
@mixin transition-duration($duration...) {
    -moz-transition-property:    $duration;
    -o-transition-property:      $duration;
    -webkit-transition-property: $duration;
    transition-property:         $duration;
}
@mixin transition-timing-function($timing...) {
    -moz-transition-timing-function:    $timing;
    -o-transition-timing-function:      $timing;
    -webkit-transition-timing-function: $timing;
    transition-timing-function:         $timing;
}
@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }
    @keyframes #{$animation-name} {
        @content;
    }
}

@each $key, $value in $breakpoints {
  @for $i from 1 through $items {
    .grid__item--#{$key}-span-#{$i} {
      flex: 0 0 100%;
      @include break($key) {
        flex: 0 0 #{$i / $items * 100%};
      }
    }
  }
}

// Styles
.admin-header {
  background: $dark;
  position: fixed;
  height: 100%;
  width: 25%;
  color: $light;
  padding: 2em;
  @include break(sm-md) {
    width: 20%;
  }
  @include break(md) {
    width: 15%;
  }
  @include break(md-lg) {
    width: 12.5%;
  }
  .admin {
    margin-top: 1.5em;
    p {
      font-family: Raleway, Sans-serif;
      font-weight: 700;
      margin: 0;
      line-height: normal;
      letter-spacing: .5px;
    }
    .name {
      font-size: 1.5em;
    }
    .role {
      margin-top: -.15em;
      font-size: .95em;
      color: #737373;
    }
  }
  a {
    font-family: Raleway, Sans-serif;
    color: #5d5d5d;
    font-size: 1.15em;
    position: absolute;
    bottom: 3.5em;
  }
  .logout {
    bottom: 2em;
  }
  nav {
    margin-top: 1.5em;
    div {
      cursor: pointer;
      font-family: Raleway, Sans-serif;
      font-size: 1.15em;
      margin: 1.5em 0;
      display: block;
      a {
        margin: none;
        position: static;
        color: $light;
        font-family: Raleway, Sans-serif;
      }
      i {
        float: right;
      }
    }
  }
}

.admin-content{
  position: absolute;
  width: 75%;
  left: 25%;
  padding: 3em 5em;
  background: $light;
  min-height: 100%;
  @include break(sm-md) {
    width: 80%;
    left: 20%;
  }
  @include break(md) {
    width: 85%;
    left: 15%;
  }
  @include break(md-lg) {
    width: 87.5%;
    left: 12.5%;
  }
  .link-back {
    a {
      font-family: Raleway, Sans-serif;
      font-weight: 700;
      color: $dark;
      font-size: 1.35rem;
      margin-left: .5em;
    }
    i {
      position: relative;
      top: -.1em;
    }
  }
  h1 {
    color: $dark;
    margin-top: .25em;
    font-family: Raleway, Sans-serif;
    font-weight: 800;
    font-size: 3rem;
    letter-spacing: 10px;
  }
}
.admin-button {
  text-align: center;
    font-family: Raleway, Sans-serif;
    font-size: 1.25rem;
    padding: .5em 0em;
    border-radius: .75em;
    display: block;
    margin: auto;
    margin-top: 2em;
    color: $light;
    background: $dark;
    box-shadow: none;
    border: none;
    font-weight: 700;
    letter-spacing: 1px;
    width: 8em;
}
.new-post {
  font-family: Raleway, Sans-serif;
  form {
    width: 65%;
    margin-left: 12.5%;
    font-family: Raleway, Sans-serif;
    textarea {
      padding: .5em 1em;
      font-size: 1.25rem;
      font-weight: 400;
      font-family: Raleway, Sans-serif;
      display: block;
      width: 100%;
      margin-top: 2em;
      background: $lightback;
      border: none;
      height: 2.25em;

    }
    input {
      padding: .5em 1em;
      font-size: 1.25rem;
      font-weight: 400;
      font-family: Raleway, Sans-serif;
      display: block;
      width: 100%;
      margin-top: 2em;
      background: $lightback;
      border: none;
      height: 2.25em;
    }
    #post_title {
      font-weight: 700;
      font-size: 2rem;
      height: 2.25em;
    }
    #post_content {
      font-size: 1.25rem;
      height: 10rem;

    }
    .btn {
      text-transform: uppercase;
      height: auto;
      width: auto;
      font-family: Raleway, Sans-serif;
      font-size: 1.25rem;
      padding: .75em 2.5em;
      border-radius: 1em;
      display: block;
      margin: auto;
      margin-top: 2em;
      color: $light;
      background: $dark;
      box-shadow: none;
      border: none;
      font-weight: 700;
      letter-spacing: 1px;
    }
    select {
      border: none;
      background: $lightback;
      padding: .5em 1em;
      font-size: 1.25rem;
      margin-top: 2em;
      width: 100%;
    }
  }
}
.post-table {
  overflow: hidden;
  font-family: Raleway, Sans-serif;
  table-layout: fixed;
  width: 100%;
  tr {
    display: block;
    padding: 1em;
    width: 100%;
    max-height: 5em;
    overflow-y: hidden;
    th {
      text-align: left;
      font-size: 1.15rem;
      font-weight: 800;
      letter-spacing: 1px;
      display: inline-block;
      margin-right: 1em;
      width: 30%;
    }
    td {
      vertical-align: top;
      margin: auto;
      overflow: hidden;
      font-size: 1.15rem;
      font-weight: 600;
      letter-spacing: 1px;
      display: inline-block;
      width: 30%;
      margin-right: 1em;
    }
    .action {
      a {
      color: $green;
      }
    }
  }
  tr:nth-child(even) {
    background: $lightback;
  }
}
.users-table {
  overflow: hidden;
  font-family: Raleway, Sans-serif;
  table-layout: fixed;
  width: 100%;
  tr {
    display: block;
    padding: 1em;
    width: 100%;
    max-height: 5em;
    th {
      text-align: left;
      font-size: 1.15rem;
      font-weight: 800;
      letter-spacing: 1px;
      display: inline-block;
      margin-right: 1em;
      width: 20%;
    }
    td {
      vertical-align: top;
      margin: auto;
      overflow: hidden;
      font-size: 1.15rem;
      font-weight: 600;
      letter-spacing: 1px;
      display: inline-block;
      width: 20%;
      margin-right: 1em;

    }
    .action {
      a {
      color: $green;
      }
    }
  }
  tr:nth-child(even) {
    background: $lightback;
  }
}
.new {
  padding: 2em;
}
.new-link {
  font-family: Raleway, Sans-serif;
  font-size: 1.25rem;
  padding: .5em 2.25em;
  border-radius: .75em;
  margin: auto;
  margin-top: 4em;
  color: $light;
  background: $dark;
  box-shadow: none;
  border: none;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 10em;
}
.new-user {
  font-family: Raleway, Sans-serif;
  form {
    width: 65%;
    margin-left: 12.5%;
    font-family: Raleway, Sans-serif;
    input, select {
      padding: .5em 1em;
      font-weight: 700;
      font-family: Raleway, Sans-serif;
      display: block;
      width: 100%;
      margin-top: 2em;
      background: $lightback;
      border: none;
      font-size: 1.25rem;
    }
    .btn-submit {
      width: auto;
      font-family: Raleway, Sans-serif;
      font-size: 1.25rem;
      padding: .75em 2.5em;
      border-radius: 1em;
      display: block;
      margin: auto;
      margin-top: 2em;
      color: $light;
      background: $dark;
      box-shadow: none;
      border: none;
      font-weight: 700;
      letter-spacing: 1px;
    }
  }
}
.dashboard-item {
  vertical-align: center;
  border-radius: 1em;
  display: inline-block;
  padding: 5em 3em;
  margin: 5em;
  margin-bottom: 0;
  text-align: center;
  background: $lightback;
  width: 30em;
  h2 {
    letter-spacing: 2px;
    font-size: 2rem;
    margin-top: 0;
  }
}
