@font-face {
font-family: Montserrat;
src: url("fonts/Montserrat-Regular.otf") format("opentype");
}
@font-face {
font-family: MontserratBold;
src: url("fonts/Montserrat-Bold.ttf") format("truetype");
}
@font-face {
font-family: MontserratLight;
src: url("fonts/Montserrat-Light.otf") format("opentype");
}

.wip {
  border: 1px red dashed;
}
a {
  color: #fdfdfd;
  text-decoration: none;
}
body {
  font-family: MontserratLight;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: #000000;
}

.top-wrapper {
  display: block;
  width: 100%;
}
.top-wrapper img {
  /*position: absolute;*/
  width: 100%;
}
.top-wrapper nav {
  top: 0;
  left: 0;
  display: block;
  padding: 30px 60px;
  width: 95%;
  position: absolute;
}
.top-wrapper nav a {
  vertical-align: center;
  font-family: MontserratBold;
}
.top-right {
  transform: translateY(-50%);
  margin-top: 25px;
  color: #fdfdfd;
  float: right;
  margin-right: 100px;
  font-size: 20px;
  letter-spacing: 3px;
  padding: 7px 30px;
  border-radius: 3px;
  transition: .5s;
  transition-timing-function: ease;
}
.top-right:hover {
  background: #fdfdfd;
  color: #000000;
}
.company-name {
  color: #fdfdfd;
  font-size: 32px;
  letter-spacing: 2px;
}
.sign-up {
  background: #fdfdfd;
  color: #000000;
}
.top-text {
  width: 100%;
  text-align: center;
  font-size: 66px;
  top: 30%;
  font-family: Montserrat;
  position: absolute;
  color: #fdfdfd;
  line-height: 80px;
  letter-spacing: 5px;
}
#top-bold {
  font-family: MontserratBold;
  letter-spacing: normal;
  font-size: 112px;
}
#works-button {
  margin-top: 3%;
  transform: translateX(-50%);
  margin-left: 50%;
  width:275px;
  line-height: 45px;
  border-radius: 9px;
  border: 3px #fdfdfd solid;
  font-family: Montserrat;
  font-size: 20px;
  transition-timing-function: ease;
  transition: background .5s;
}
#works-button:hover {
  background: #fdfdfd;
  color: #000000;
}
.pointer-down {
  cursor: pointer;
  margin-top: 2%;
  width: 90px;
  height: 90px;
}
.pointer-down:hover {
  transition:
}
.middle-wrapper {
  padding: 100px 0;
  padding-bottom: 300px;
}
.text-wrapper {
  margin-left: 7.5vw;
  display: inline-block;
  width: 20vw;
}
.text-header {
  margin-bottom: 0;
  line-height: 75px;
  font-family: MontserratBold;
  font-size: 36px;
}
.text-body {
  margin-top: 0;
  line-height: 30px;
  font-size: 20px;
  font-family: MontserratLight;
}
.ez-wrapper {
  width: 100%;
  text-align: center;
  margin-top: 150px;
}
.ez {
  font-family: MontserratBold;
  font-size: 86px;
  margin-bottom: 0;
}
.ez-body {
  width: 60%;
  margin-left: 20%;
  font-size: 24px;
}
.body-bold {
  font-family: Montserrat;
}
#dest {
  transition-duration: 1s;
}
