/* Styles for HBR Website
   Made by HBR Live Web Development */


// ---Imports---
@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

// ---Variables---
$dark: #1b1b1b;
$light: #f6f6f6;
$black: #000000;
$green: #49b050;

$breakpoints: (
  xs: 32rem,
  sm: 48rem,
  sm-md: 56rem,
  md: 72rem,
  lg: 96rem,
  xl: 102rem,
  xx: 120rem
);
$fonts: (
    title: Montserrat,
    body: Lato
);
$font-sizes: (
    body-text: .75rem,
    title-lg: 3rem,
    title-md: 1.5rem,
    title-sm: 1rem,
    hero-lg: 3rem,
    hero-md: 2.25rem,
    nav: 1rem
);
// ---Mixins---

@mixin break($size) {  
  @media (min-width: map-get($breakpoints, $size)) {
    @content;
  }
}
@mixin f-size($font-size) {
    font-size: #{$font-size};
}
@mixin body-font {
    font-size: #{map-get($font-sizes, body-text)};
    font-family: Lato;
    line-height: 1.35rem;
}
@mixin title-font($size) {
    font-size: #{map-get($font-sizes, $size)};
    font-family: Montserrat;
    font-weight: 700;
}
@mixin transform($transforms) {
	   -moz-transform: $transforms;
	     -o-transform: $transforms;
	    -ms-transform: $transforms;
	-webkit-transform: $transforms;
          transform: $transforms;
}

/* ---Styles--- */

    // Grid layout
    
    $items: 12;
    .grid {
        display: flex;
        flex-flow: row wrap;
    }
    // loop over the breakpoints
    @each $key, $value in $breakpoints {
      @for $i from 1 through $items {
        .grid__item--#{$key}-span-#{$i} {
          flex: 0 0 100%;
          @include break($key) {
            flex: 0 0 #{$i / $items * 100%};
          }
        }
      }
    }
    
    
*,
*::before,
*::after {
    box-sizing: border-box;
}
body{
    margin: 0;
}
a {
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Montserrat;
    font-weight: 700;
}
// Nav Bar
.header-main {
    display: none;
    position: absolute;
    padding: 1em;
    width: 100%;
    z-index: 100;
    @include break(sm-md) {
        display: initial;
    }
    div {
        margin: auto;
        width: 90%;
        a {
            @include title-font(nav);
            color: $light;
            font-size: 1.25rem;
            letter-spacing: 1px;
            margin-left: 5%;
            
            span {
                color: #4ac753;
            }
        }
        
        nav {
            float: right;
            a {
                margin: 5em;
                padding: 1em;
                font-size: 1rem;
                letter-spacing: 2px;
                margin-left: 0%;
            }
        }
    }
}

// Hero Image
.hero {
    z-index: 1;
    overflow: hidden;
    background: #1b1b1b url('land.jpg') no-repeat center top;
    background-size: cover;
    background-position: 50% 10%;
    img {
            position: relative;
            // top: -110px;
            width: 100%;
    }
    div {
        // position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        z-index: 99;
        // @include transform(translate(50%,50%));
        text-align: center;
        padding: 25% 0;
        @include break(sm) {
            padding: 20%;
        }
        @include break(md) {
            padding: 15% 0;
        }
        
        p {
            color: $light;
            @include title-font(hero-lg);
            letter-spacing: 5px;
            span {
                @include title-font(hero-md);
                letter-spacing: 10px;
            }
            @include break(xs) {
                font-size: 3rem;
                letter-spacing: 7.5px;
                span {
                    letter-spacing: 12.5px;
                }
            }
            @include break(sm) {
                font-size: 4rem;
                letter-spacing: 7.5px;
                span {
                    letter-spacing: 12.5px;
                    font-size: 3rem;
                }
            }
            @include break(md) {
                font-size: 5.5rem;
                letter-spacing: 10px;
                span {
                    letter-spacing: 20px;
                    font-size: 4.25rem;
                }
            }
        }
        a {
            color: $light;
            @include title-font(nav);
            letter-spacing: 3px;
            border: 3px $light solid;
            border-radius: 2px;
            padding: 10px 20px;
            transition: .15s ease-in;
            &:hover {
                background: $light;
                color: $dark;
            }
        }
    }
}

// Making the Future
.about {
    div {
        width: 100%;
        h1 {
            @include title-font(title-lg);
            text-align: center;
            color: $dark;
        }
    }
}

// Widgets
.widgets {
    padding-top: 6em;
    width: 100%;
    margin: auto;
    @include break(md) {
        width: 75%;
    }
    
    div {
        padding: 5px;
        
        img {
            background: $green;
            border-radius: 50%;
            width: 30%;
            margin: auto;
            margin-left: 35%;
            @include break(lg) {
                width: 20%;
                margin-left: 40%;
            }
        }
        div {
            text-align: center;
            padding: none;
            margin: auto;
            width: 85%;
            h2 {
                color: $dark;
                font-size: 1.5rem;
                margin-bottom: 10px;
            }
            p {
                font-weight: 400;
                color: #373D3F;
                margin-top: 0;
                @include body-font;
                font-size: 1rem;
            }
        }
    }
}