/* Styles for HBR Website
   Made by HBR Live Web Development */
@import url("https://fonts.googleapis.com/css?family=Lato|Montserrat");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
/* ---Styles--- */
.grid {
  display: flex;
  flex-flow: row wrap; }

.grid__item--xs-span-1 {
  flex: 0 0 100%; }
  @media (min-width: 32rem) {
    .grid__item--xs-span-1 {
      flex: 0 0 8.33333%; } }

.grid__item--xs-span-2 {
  flex: 0 0 100%; }
  @media (min-width: 32rem) {
    .grid__item--xs-span-2 {
      flex: 0 0 16.66667%; } }

.grid__item--xs-span-3 {
  flex: 0 0 100%; }
  @media (min-width: 32rem) {
    .grid__item--xs-span-3 {
      flex: 0 0 25%; } }

.grid__item--xs-span-4 {
  flex: 0 0 100%; }
  @media (min-width: 32rem) {
    .grid__item--xs-span-4 {
      flex: 0 0 33.33333%; } }

.grid__item--xs-span-5 {
  flex: 0 0 100%; }
  @media (min-width: 32rem) {
    .grid__item--xs-span-5 {
      flex: 0 0 41.66667%; } }

.grid__item--xs-span-6 {
  flex: 0 0 100%; }
  @media (min-width: 32rem) {
    .grid__item--xs-span-6 {
      flex: 0 0 50%; } }

.grid__item--xs-span-7 {
  flex: 0 0 100%; }
  @media (min-width: 32rem) {
    .grid__item--xs-span-7 {
      flex: 0 0 58.33333%; } }

.grid__item--xs-span-8 {
  flex: 0 0 100%; }
  @media (min-width: 32rem) {
    .grid__item--xs-span-8 {
      flex: 0 0 66.66667%; } }

.grid__item--xs-span-9 {
  flex: 0 0 100%; }
  @media (min-width: 32rem) {
    .grid__item--xs-span-9 {
      flex: 0 0 75%; } }

.grid__item--xs-span-10 {
  flex: 0 0 100%; }
  @media (min-width: 32rem) {
    .grid__item--xs-span-10 {
      flex: 0 0 83.33333%; } }

.grid__item--xs-span-11 {
  flex: 0 0 100%; }
  @media (min-width: 32rem) {
    .grid__item--xs-span-11 {
      flex: 0 0 91.66667%; } }

.grid__item--xs-span-12 {
  flex: 0 0 100%; }
  @media (min-width: 32rem) {
    .grid__item--xs-span-12 {
      flex: 0 0 100%; } }

.grid__item--sm-span-1 {
  flex: 0 0 100%; }
  @media (min-width: 48rem) {
    .grid__item--sm-span-1 {
      flex: 0 0 8.33333%; } }

.grid__item--sm-span-2 {
  flex: 0 0 100%; }
  @media (min-width: 48rem) {
    .grid__item--sm-span-2 {
      flex: 0 0 16.66667%; } }

.grid__item--sm-span-3 {
  flex: 0 0 100%; }
  @media (min-width: 48rem) {
    .grid__item--sm-span-3 {
      flex: 0 0 25%; } }

.grid__item--sm-span-4 {
  flex: 0 0 100%; }
  @media (min-width: 48rem) {
    .grid__item--sm-span-4 {
      flex: 0 0 33.33333%; } }

.grid__item--sm-span-5 {
  flex: 0 0 100%; }
  @media (min-width: 48rem) {
    .grid__item--sm-span-5 {
      flex: 0 0 41.66667%; } }

.grid__item--sm-span-6 {
  flex: 0 0 100%; }
  @media (min-width: 48rem) {
    .grid__item--sm-span-6 {
      flex: 0 0 50%; } }

.grid__item--sm-span-7 {
  flex: 0 0 100%; }
  @media (min-width: 48rem) {
    .grid__item--sm-span-7 {
      flex: 0 0 58.33333%; } }

.grid__item--sm-span-8 {
  flex: 0 0 100%; }
  @media (min-width: 48rem) {
    .grid__item--sm-span-8 {
      flex: 0 0 66.66667%; } }

.grid__item--sm-span-9 {
  flex: 0 0 100%; }
  @media (min-width: 48rem) {
    .grid__item--sm-span-9 {
      flex: 0 0 75%; } }

.grid__item--sm-span-10 {
  flex: 0 0 100%; }
  @media (min-width: 48rem) {
    .grid__item--sm-span-10 {
      flex: 0 0 83.33333%; } }

.grid__item--sm-span-11 {
  flex: 0 0 100%; }
  @media (min-width: 48rem) {
    .grid__item--sm-span-11 {
      flex: 0 0 91.66667%; } }

.grid__item--sm-span-12 {
  flex: 0 0 100%; }
  @media (min-width: 48rem) {
    .grid__item--sm-span-12 {
      flex: 0 0 100%; } }

.grid__item--sm-md-span-1 {
  flex: 0 0 100%; }
  @media (min-width: 56rem) {
    .grid__item--sm-md-span-1 {
      flex: 0 0 8.33333%; } }

.grid__item--sm-md-span-2 {
  flex: 0 0 100%; }
  @media (min-width: 56rem) {
    .grid__item--sm-md-span-2 {
      flex: 0 0 16.66667%; } }

.grid__item--sm-md-span-3 {
  flex: 0 0 100%; }
  @media (min-width: 56rem) {
    .grid__item--sm-md-span-3 {
      flex: 0 0 25%; } }

.grid__item--sm-md-span-4 {
  flex: 0 0 100%; }
  @media (min-width: 56rem) {
    .grid__item--sm-md-span-4 {
      flex: 0 0 33.33333%; } }

.grid__item--sm-md-span-5 {
  flex: 0 0 100%; }
  @media (min-width: 56rem) {
    .grid__item--sm-md-span-5 {
      flex: 0 0 41.66667%; } }

.grid__item--sm-md-span-6 {
  flex: 0 0 100%; }
  @media (min-width: 56rem) {
    .grid__item--sm-md-span-6 {
      flex: 0 0 50%; } }

.grid__item--sm-md-span-7 {
  flex: 0 0 100%; }
  @media (min-width: 56rem) {
    .grid__item--sm-md-span-7 {
      flex: 0 0 58.33333%; } }

.grid__item--sm-md-span-8 {
  flex: 0 0 100%; }
  @media (min-width: 56rem) {
    .grid__item--sm-md-span-8 {
      flex: 0 0 66.66667%; } }

.grid__item--sm-md-span-9 {
  flex: 0 0 100%; }
  @media (min-width: 56rem) {
    .grid__item--sm-md-span-9 {
      flex: 0 0 75%; } }

.grid__item--sm-md-span-10 {
  flex: 0 0 100%; }
  @media (min-width: 56rem) {
    .grid__item--sm-md-span-10 {
      flex: 0 0 83.33333%; } }

.grid__item--sm-md-span-11 {
  flex: 0 0 100%; }
  @media (min-width: 56rem) {
    .grid__item--sm-md-span-11 {
      flex: 0 0 91.66667%; } }

.grid__item--sm-md-span-12 {
  flex: 0 0 100%; }
  @media (min-width: 56rem) {
    .grid__item--sm-md-span-12 {
      flex: 0 0 100%; } }

.grid__item--md-span-1 {
  flex: 0 0 100%; }
  @media (min-width: 72rem) {
    .grid__item--md-span-1 {
      flex: 0 0 8.33333%; } }

.grid__item--md-span-2 {
  flex: 0 0 100%; }
  @media (min-width: 72rem) {
    .grid__item--md-span-2 {
      flex: 0 0 16.66667%; } }

.grid__item--md-span-3 {
  flex: 0 0 100%; }
  @media (min-width: 72rem) {
    .grid__item--md-span-3 {
      flex: 0 0 25%; } }

.grid__item--md-span-4 {
  flex: 0 0 100%; }
  @media (min-width: 72rem) {
    .grid__item--md-span-4 {
      flex: 0 0 33.33333%; } }

.grid__item--md-span-5 {
  flex: 0 0 100%; }
  @media (min-width: 72rem) {
    .grid__item--md-span-5 {
      flex: 0 0 41.66667%; } }

.grid__item--md-span-6 {
  flex: 0 0 100%; }
  @media (min-width: 72rem) {
    .grid__item--md-span-6 {
      flex: 0 0 50%; } }

.grid__item--md-span-7 {
  flex: 0 0 100%; }
  @media (min-width: 72rem) {
    .grid__item--md-span-7 {
      flex: 0 0 58.33333%; } }

.grid__item--md-span-8 {
  flex: 0 0 100%; }
  @media (min-width: 72rem) {
    .grid__item--md-span-8 {
      flex: 0 0 66.66667%; } }

.grid__item--md-span-9 {
  flex: 0 0 100%; }
  @media (min-width: 72rem) {
    .grid__item--md-span-9 {
      flex: 0 0 75%; } }

.grid__item--md-span-10 {
  flex: 0 0 100%; }
  @media (min-width: 72rem) {
    .grid__item--md-span-10 {
      flex: 0 0 83.33333%; } }

.grid__item--md-span-11 {
  flex: 0 0 100%; }
  @media (min-width: 72rem) {
    .grid__item--md-span-11 {
      flex: 0 0 91.66667%; } }

.grid__item--md-span-12 {
  flex: 0 0 100%; }
  @media (min-width: 72rem) {
    .grid__item--md-span-12 {
      flex: 0 0 100%; } }

.grid__item--md-lg-span-1 {
  flex: 0 0 100%; }
  @media (min-width: 84rem) {
    .grid__item--md-lg-span-1 {
      flex: 0 0 8.33333%; } }

.grid__item--md-lg-span-2 {
  flex: 0 0 100%; }
  @media (min-width: 84rem) {
    .grid__item--md-lg-span-2 {
      flex: 0 0 16.66667%; } }

.grid__item--md-lg-span-3 {
  flex: 0 0 100%; }
  @media (min-width: 84rem) {
    .grid__item--md-lg-span-3 {
      flex: 0 0 25%; } }

.grid__item--md-lg-span-4 {
  flex: 0 0 100%; }
  @media (min-width: 84rem) {
    .grid__item--md-lg-span-4 {
      flex: 0 0 33.33333%; } }

.grid__item--md-lg-span-5 {
  flex: 0 0 100%; }
  @media (min-width: 84rem) {
    .grid__item--md-lg-span-5 {
      flex: 0 0 41.66667%; } }

.grid__item--md-lg-span-6 {
  flex: 0 0 100%; }
  @media (min-width: 84rem) {
    .grid__item--md-lg-span-6 {
      flex: 0 0 50%; } }

.grid__item--md-lg-span-7 {
  flex: 0 0 100%; }
  @media (min-width: 84rem) {
    .grid__item--md-lg-span-7 {
      flex: 0 0 58.33333%; } }

.grid__item--md-lg-span-8 {
  flex: 0 0 100%; }
  @media (min-width: 84rem) {
    .grid__item--md-lg-span-8 {
      flex: 0 0 66.66667%; } }

.grid__item--md-lg-span-9 {
  flex: 0 0 100%; }
  @media (min-width: 84rem) {
    .grid__item--md-lg-span-9 {
      flex: 0 0 75%; } }

.grid__item--md-lg-span-10 {
  flex: 0 0 100%; }
  @media (min-width: 84rem) {
    .grid__item--md-lg-span-10 {
      flex: 0 0 83.33333%; } }

.grid__item--md-lg-span-11 {
  flex: 0 0 100%; }
  @media (min-width: 84rem) {
    .grid__item--md-lg-span-11 {
      flex: 0 0 91.66667%; } }

.grid__item--md-lg-span-12 {
  flex: 0 0 100%; }
  @media (min-width: 84rem) {
    .grid__item--md-lg-span-12 {
      flex: 0 0 100%; } }

.grid__item--lg-span-1 {
  flex: 0 0 100%; }
  @media (min-width: 96rem) {
    .grid__item--lg-span-1 {
      flex: 0 0 8.33333%; } }

.grid__item--lg-span-2 {
  flex: 0 0 100%; }
  @media (min-width: 96rem) {
    .grid__item--lg-span-2 {
      flex: 0 0 16.66667%; } }

.grid__item--lg-span-3 {
  flex: 0 0 100%; }
  @media (min-width: 96rem) {
    .grid__item--lg-span-3 {
      flex: 0 0 25%; } }

.grid__item--lg-span-4 {
  flex: 0 0 100%; }
  @media (min-width: 96rem) {
    .grid__item--lg-span-4 {
      flex: 0 0 33.33333%; } }

.grid__item--lg-span-5 {
  flex: 0 0 100%; }
  @media (min-width: 96rem) {
    .grid__item--lg-span-5 {
      flex: 0 0 41.66667%; } }

.grid__item--lg-span-6 {
  flex: 0 0 100%; }
  @media (min-width: 96rem) {
    .grid__item--lg-span-6 {
      flex: 0 0 50%; } }

.grid__item--lg-span-7 {
  flex: 0 0 100%; }
  @media (min-width: 96rem) {
    .grid__item--lg-span-7 {
      flex: 0 0 58.33333%; } }

.grid__item--lg-span-8 {
  flex: 0 0 100%; }
  @media (min-width: 96rem) {
    .grid__item--lg-span-8 {
      flex: 0 0 66.66667%; } }

.grid__item--lg-span-9 {
  flex: 0 0 100%; }
  @media (min-width: 96rem) {
    .grid__item--lg-span-9 {
      flex: 0 0 75%; } }

.grid__item--lg-span-10 {
  flex: 0 0 100%; }
  @media (min-width: 96rem) {
    .grid__item--lg-span-10 {
      flex: 0 0 83.33333%; } }

.grid__item--lg-span-11 {
  flex: 0 0 100%; }
  @media (min-width: 96rem) {
    .grid__item--lg-span-11 {
      flex: 0 0 91.66667%; } }

.grid__item--lg-span-12 {
  flex: 0 0 100%; }
  @media (min-width: 96rem) {
    .grid__item--lg-span-12 {
      flex: 0 0 100%; } }

.grid__item--xl-span-1 {
  flex: 0 0 100%; }
  @media (min-width: 102rem) {
    .grid__item--xl-span-1 {
      flex: 0 0 8.33333%; } }

.grid__item--xl-span-2 {
  flex: 0 0 100%; }
  @media (min-width: 102rem) {
    .grid__item--xl-span-2 {
      flex: 0 0 16.66667%; } }

.grid__item--xl-span-3 {
  flex: 0 0 100%; }
  @media (min-width: 102rem) {
    .grid__item--xl-span-3 {
      flex: 0 0 25%; } }

.grid__item--xl-span-4 {
  flex: 0 0 100%; }
  @media (min-width: 102rem) {
    .grid__item--xl-span-4 {
      flex: 0 0 33.33333%; } }

.grid__item--xl-span-5 {
  flex: 0 0 100%; }
  @media (min-width: 102rem) {
    .grid__item--xl-span-5 {
      flex: 0 0 41.66667%; } }

.grid__item--xl-span-6 {
  flex: 0 0 100%; }
  @media (min-width: 102rem) {
    .grid__item--xl-span-6 {
      flex: 0 0 50%; } }

.grid__item--xl-span-7 {
  flex: 0 0 100%; }
  @media (min-width: 102rem) {
    .grid__item--xl-span-7 {
      flex: 0 0 58.33333%; } }

.grid__item--xl-span-8 {
  flex: 0 0 100%; }
  @media (min-width: 102rem) {
    .grid__item--xl-span-8 {
      flex: 0 0 66.66667%; } }

.grid__item--xl-span-9 {
  flex: 0 0 100%; }
  @media (min-width: 102rem) {
    .grid__item--xl-span-9 {
      flex: 0 0 75%; } }

.grid__item--xl-span-10 {
  flex: 0 0 100%; }
  @media (min-width: 102rem) {
    .grid__item--xl-span-10 {
      flex: 0 0 83.33333%; } }

.grid__item--xl-span-11 {
  flex: 0 0 100%; }
  @media (min-width: 102rem) {
    .grid__item--xl-span-11 {
      flex: 0 0 91.66667%; } }

.grid__item--xl-span-12 {
  flex: 0 0 100%; }
  @media (min-width: 102rem) {
    .grid__item--xl-span-12 {
      flex: 0 0 100%; } }

.grid__item--xx-span-1 {
  flex: 0 0 100%; }
  @media (min-width: 120rem) {
    .grid__item--xx-span-1 {
      flex: 0 0 8.33333%; } }

.grid__item--xx-span-2 {
  flex: 0 0 100%; }
  @media (min-width: 120rem) {
    .grid__item--xx-span-2 {
      flex: 0 0 16.66667%; } }

.grid__item--xx-span-3 {
  flex: 0 0 100%; }
  @media (min-width: 120rem) {
    .grid__item--xx-span-3 {
      flex: 0 0 25%; } }

.grid__item--xx-span-4 {
  flex: 0 0 100%; }
  @media (min-width: 120rem) {
    .grid__item--xx-span-4 {
      flex: 0 0 33.33333%; } }

.grid__item--xx-span-5 {
  flex: 0 0 100%; }
  @media (min-width: 120rem) {
    .grid__item--xx-span-5 {
      flex: 0 0 41.66667%; } }

.grid__item--xx-span-6 {
  flex: 0 0 100%; }
  @media (min-width: 120rem) {
    .grid__item--xx-span-6 {
      flex: 0 0 50%; } }

.grid__item--xx-span-7 {
  flex: 0 0 100%; }
  @media (min-width: 120rem) {
    .grid__item--xx-span-7 {
      flex: 0 0 58.33333%; } }

.grid__item--xx-span-8 {
  flex: 0 0 100%; }
  @media (min-width: 120rem) {
    .grid__item--xx-span-8 {
      flex: 0 0 66.66667%; } }

.grid__item--xx-span-9 {
  flex: 0 0 100%; }
  @media (min-width: 120rem) {
    .grid__item--xx-span-9 {
      flex: 0 0 75%; } }

.grid__item--xx-span-10 {
  flex: 0 0 100%; }
  @media (min-width: 120rem) {
    .grid__item--xx-span-10 {
      flex: 0 0 83.33333%; } }

.grid__item--xx-span-11 {
  flex: 0 0 100%; }
  @media (min-width: 120rem) {
    .grid__item--xx-span-11 {
      flex: 0 0 91.66667%; } }

.grid__item--xx-span-12 {
  flex: 0 0 100%; }
  @media (min-width: 120rem) {
    .grid__item--xx-span-12 {
      flex: 0 0 100%; } }

*,
*::before,
*::after {
  box-sizing: border-box; }

body {
  margin: 0; }

a {
  text-decoration: none; }

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: Montserrat;
  font-weight: 700; }

.page-title {
  width: 100%;
  font-size: 3rem;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
  color: #1b1b1b;
  letter-spacing: 1px; }
  @media (min-width: 48rem) {
    .page-title {
      letter-spacing: 3px;
      font-size: 2.5rem; } }

p {
  font-size: 1rem;
  font-family: Lato;
  line-height: 1.25rem; }
  @media (min-width: 48rem) {
    p {
      font-size: 1.15rem;
      line-height: 1.75rem; } }

.hidden {
  display: none; }

@-webkit-keyframes interactiveTransition {
  25% {
    opacity: 0;
    -moz-transform: translateY(20px);
    -o-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -webkit-transform: translateY(20px);
    transform: translateY(20px); }
  75% {
    opacity: 0;
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -moz-transform: translateX(-15px);
    -o-transform: translateX(-15px);
    -ms-transform: translateX(-15px);
    -webkit-transform: translateX(-15px);
    transform: translateX(-15px); }
  100% {
    opacity: 1;
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0); } }
@-moz-keyframes interactiveTransition {
  25% {
    opacity: 0;
    -moz-transform: translateY(20px);
    -o-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -webkit-transform: translateY(20px);
    transform: translateY(20px); }
  75% {
    opacity: 0;
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -moz-transform: translateX(-15px);
    -o-transform: translateX(-15px);
    -ms-transform: translateX(-15px);
    -webkit-transform: translateX(-15px);
    transform: translateX(-15px); }
  100% {
    opacity: 1;
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0); } }
@-ms-keyframes interactiveTransition {
  25% {
    opacity: 0;
    -moz-transform: translateY(20px);
    -o-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -webkit-transform: translateY(20px);
    transform: translateY(20px); }
  75% {
    opacity: 0;
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -moz-transform: translateX(-15px);
    -o-transform: translateX(-15px);
    -ms-transform: translateX(-15px);
    -webkit-transform: translateX(-15px);
    transform: translateX(-15px); }
  100% {
    opacity: 1;
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0); } }
@-o-keyframes interactiveTransition {
  25% {
    opacity: 0;
    -moz-transform: translateY(20px);
    -o-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -webkit-transform: translateY(20px);
    transform: translateY(20px); }
  75% {
    opacity: 0;
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -moz-transform: translateX(-15px);
    -o-transform: translateX(-15px);
    -ms-transform: translateX(-15px);
    -webkit-transform: translateX(-15px);
    transform: translateX(-15px); }
  100% {
    opacity: 1;
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0); } }
@keyframes interactiveTransition {
  25% {
    opacity: 0;
    -moz-transform: translateY(20px);
    -o-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -webkit-transform: translateY(20px);
    transform: translateY(20px); }
  75% {
    opacity: 0;
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -moz-transform: translateX(-15px);
    -o-transform: translateX(-15px);
    -ms-transform: translateX(-15px);
    -webkit-transform: translateX(-15px);
    transform: translateX(-15px); }
  100% {
    opacity: 1;
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0); } }
.interactiveAnimation {
  animation-name: interactiveTransition;
  animation-duration: .75s; }

.header-main {
  display: none;
  position: absolute;
  padding: 1em;
  width: 100%;
  z-index: 100; }
  @media (min-width: 56rem) {
    .header-main {
      display: initial; } }
  .header-main div {
    margin: auto;
    width: 90%; }
    .header-main div a {
      font-size: 1rem;
      font-family: Montserrat;
      font-weight: 700;
      color: #f6f6f6;
      font-size: 1.25rem;
      letter-spacing: 1px;
      margin-left: 5%; }
      .header-main div a span {
        color: #4ac753; }
    .header-main div nav {
      float: right;
      display: block; }
      .header-main div nav div {
        margin-right: 2.5em;
        margin-top: .25em;
        display: inline-block;
        float: right;
        width: 200px; }
        .header-main div nav div:hover div {
          display: block; }
        .header-main div nav div a {
          font-size: 1rem;
          letter-spacing: 2px;
          margin-left: 0%; }
        .header-main div nav div i {
          position: relative;
          top: -1px; }
        .header-main div nav div div {
          z-index: 100;
          overflow: hidden;
          display: none;
          transition: 2s;
          float: left;
          margin-left: -.75em;
          margin-top: .5em;
          padding: .5em 1em;
          background: #1b1b1b;
          width: 120%; }
          .header-main div nav div div a {
            display: block;
            font-weight: 400;
            font-size: .95rem;
            padding: .25em 0; }

.mobile-header {
  display: block; }
  @media (min-width: 56rem) {
    .mobile-header {
      display: none; } }
  .mobile-header .nav-icon {
    transition: 1s;
    padding: .75em;
    position: fixed;
    left: 15%;
    top: 10%;
    background: rgba(27, 27, 27, 0.85);
    z-index: 999; }
    .mobile-header .nav-icon i {
      height: 100%;
      width: 100%;
      color: white; }
  .mobile-header .mobile-nav-content {
    overflow: hidden;
    padding: 0;
    position: fixed;
    height: 0;
    width: 100vw;
    z-index: 998;
    background: rgba(27, 27, 27, 0.95);
    transition: 1s;
    opacity: 0; }
    .mobile-header .mobile-nav-content nav {
      position: relative;
      -moz-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      top: 50%;
      text-align: center;
      color: #f6f6f6; }
      .mobile-header .mobile-nav-content nav div {
        margin: 1em; }
        .mobile-header .mobile-nav-content nav div a {
          display: block;
          font-size: 1.15rem;
          color: #f6f6f6;
          letter-spacing: 1px; }
          .mobile-header .mobile-nav-content nav div a i {
            position: relative;
            top: -2px;
            height: 1.15em;
            width: 1.35em; }
        .mobile-header .mobile-nav-content nav div div {
          transition: 1s;
          height: 0;
          overflow: hidden;
          padding: 0;
          margin-top: .5em;
          padding-bottom: 0; }
          .mobile-header .mobile-nav-content nav div div a {
            font-size: 1rem;
            margin: .25em 0; }

.show {
  height: 25em; }

.header-background {
  background: #1b1b1b;
  width: 100%;
  height: 3.75em;
  z-index: 1; }

.hero {
  z-index: 1;
  overflow: hidden;
  background: #1b1b1b; }
  .hero img {
    position: relative;
    width: 100%; }
  .hero div {
    top: 50%;
    left: 50%;
    width: 100%;
    z-index: 99;
    text-align: center;
    padding: 25% 0; }
    @media (min-width: 56rem) {
      .hero div {
        top: 25%; } }
    @media (min-width: 48rem) {
      .hero div {
        padding: 20%; } }
    @media (min-width: 56rem) {
      .hero div {
        padding-top: 10%; } }
    @media (min-width: 72rem) {
      .hero div {
        padding: 7.5% 0; } }
    .hero div p {
      color: #f6f6f6;
      font-size: 3rem;
      font-family: Montserrat;
      font-weight: 700;
      letter-spacing: 5px;
      line-height: 1.25em; }
      .hero div p span {
        font-size: 2.25rem;
        font-family: Montserrat;
        font-weight: 700;
        letter-spacing: 10px; }
      @media (min-width: 32rem) {
        .hero div p {
          font-size: 3rem;
          letter-spacing: 7.5px; }
          .hero div p span {
            letter-spacing: 12.5px; } }
      @media (min-width: 48rem) {
        .hero div p {
          font-size: 4rem;
          letter-spacing: 7.5px;
          line-height: 1.15em; }
          .hero div p span {
            letter-spacing: 12.5px;
            font-size: 3rem; } }
      @media (min-width: 72rem) {
        .hero div p {
          line-height: 1.05em;
          font-size: 5.5rem;
          letter-spacing: 10px; }
          .hero div p span {
            letter-spacing: 20px;
            font-size: 4.25rem; } }
    .hero div a {
      color: #f6f6f6;
      font-size: 1rem;
      font-family: Montserrat;
      font-weight: 700;
      letter-spacing: 3px;
      border: 3px #f6f6f6 solid;
      border-radius: 2px;
      padding: 10px 20px;
      transition: .15s ease-in; }
      .hero div a:hover {
        background: #f6f6f6;
        color: #1b1b1b; }
    .hero div img {
      width: 50%; }
      @media (min-width: 56rem) {
        .hero div img {
          width: 40%; } }
      @media (min-width: 72rem) {
        .hero div img {
          width: 25%; } }

.hero-home {
  background: url("land.jpg") no-repeat center top;
  background-size: cover;
  background-position: 50% 10%; }
  .hero-home div {
    top: 50%;
    left: 50%;
    width: 100%;
    z-index: 99;
    text-align: center;
    padding: 25% 0; }
    @media (min-width: 56rem) {
      .hero-home div {
        top: 25%; } }
    @media (min-width: 48rem) {
      .hero-home div {
        padding: 20%; } }
    @media (min-width: 72rem) {
      .hero-home div {
        padding: 15% 0; } }

.about {
  display: block;
  padding: 7em 0; }
  .about div {
    margin: auto;
    width: 95%; }
    @media (min-width: 48rem) {
      .about div {
        width: 80%; } }
    .about div h1 {
      font-size: 3rem;
      font-family: Montserrat;
      font-weight: 700;
      font-size: 1.5rem;
      text-align: center;
      color: #1b1b1b;
      letter-spacing: 1px;
      background: #ffffff;
      z-index: 10;
      width: 250px;
      margin: auto; }
      @media (min-width: 48rem) {
        .about div h1 {
          width: 550px;
          max-width: 70%; } }
      @media (min-width: 48rem) {
        .about div h1 {
          letter-spacing: 3px;
          font-size: 2.5rem; } }
    .about div p {
      margin: auto;
      margin-top: 1em;
      text-align: left;
      text-align: center;
      font-size: 1rem; }
      @media (min-width: 48rem) {
        .about div p {
          text-align: center;
          width: 90%; } }
      @media (min-width: 56rem) {
        .about div p {
          width: 80%; } }
      @media (min-width: 72rem) {
        .about div p {
          width: 75%; } }
      @media (min-width: 56rem) {
        .about div p {
          font-size: 1.15rem; } }
      @media (min-width: 72rem) {
        .about div p {
          font-size: 1.25rem; } }

.widgets {
  display: block;
  padding: 6em 0;
  width: 100%;
  background: #f6f6f6; }
  .widgets div {
    width: 100%;
    margin: auto;
    margin-top: 0; }
    @media (min-width: 72rem) {
      .widgets div {
        width: 75%; } }
    .widgets div div {
      padding: 5px;
      margin: 1em 0; }
      .widgets div div img {
        background: #49b050;
        border-radius: 50%;
        width: 30%;
        margin: auto;
        margin-left: 35%; }
        @media (min-width: 96rem) {
          .widgets div div img {
            width: 20%;
            margin-left: 40%; } }
      .widgets div div div {
        text-align: center;
        padding: none;
        margin: auto;
        width: 85%; }
        .widgets div div div h2 {
          color: #3f3f3f;
          letter-spacing: 1.5px;
          font-weight: 400;
          font-size: 1.25rem;
          margin-bottom: 10px; }
        .widgets div div div p {
          font-weight: 400;
          color: #7c7c7c;
          margin-top: 1em; }

.interactive {
  padding: 7em 0;
  height: 57em;
  background: #1b1b1b;
  color: #f6f6f6;
  text-align: center; }
  .interactive div {
    margin: auto; }
    @media (min-width: 48rem) {
      .interactive div {
        width: 80%; } }
    @media (min-width: 56rem) {
      .interactive div {
        width: 70%; } }
    @media (min-width: 72rem) {
      .interactive div {
        width: 60%; } }
    .interactive div h2 {
      max-width: 80%;
      width: 400px;
      font-size: 2rem;
      font-family: Montserrat;
      font-weight: 700;
      font-size: 1.5rem;
      letter-spacing: 5px; }
      @media (min-width: 48rem) {
        .interactive div h2 {
          font-size: 2.5rem;
          width: 550px; } }
  .interactive .icons {
    padding: 2em 0 3em 0;
    width: 90%;
    margin: auto; }
    @media (min-width: 72rem) {
      .interactive .icons {
        width: 70%; } }
    .interactive .icons div {
      display: inline-block;
      width: 50%; }
      @media (min-width: 48rem) {
        .interactive .icons div {
          width: 25%; } }
      .interactive .icons div img {
        margin: auto;
        width: 80%;
        max-width: 232px;
        transition-duration: .25s;
        transition-timing-function: ease-out; }
        .interactive .icons div img:hover {
          -moz-transform: scale(1.1);
          -o-transform: scale(1.1);
          -ms-transform: scale(1.1);
          -webkit-transform: scale(1.1);
          transform: scale(1.1); }
  .interactive .text {
    margin: auto;
    padding: 1em;
    width: 100%; }
    @media (min-width: 48rem) {
      .interactive .text {
        width: 80%; } }
    @media (min-width: 72rem) {
      .interactive .text {
        width: 40%; } }
    .interactive .text div {
      width: 100%; }
      .interactive .text div h3 {
        text-transform: uppercase;
        margin: auto;
        width: 80%;
        font-size: 2rem;
        font-family: Montserrat;
        font-weight: 700;
        font-weight: 400;
        padding-bottom: 1.5rem;
        border-bottom: 2px #36713a solid;
        letter-spacing: 3px;
        font-size: 1.5em; }
        @media (min-width: 48rem) {
          .interactive .text div h3 {
            font-size: 1.75rem;
            width: 60%;
            letter-spacing: 5px; } }
      .interactive .text div p {
        padding-top: 2em;
        margin: auto;
        font-size: .85rem; }
        @media (min-width: 56rem) {
          .interactive .text div p {
            font-size: 1.15rem; } }

.programs {
  height: 58em; }
  @media (min-width: 56rem) {
    .programs {
      height: 57em; } }

.game {
  padding: 7em 1em;
  text-align: center;
  width: 100%;
  margin: auto; }
  @media (min-width: 48rem) {
    .game {
      width: 80%; } }
  @media (min-width: 72rem) {
    .game {
      width: 60%; } }
  .game h2 {
    letter-spacing: 3px;
    font-size: 2rem;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 1.5rem; }
    @media (min-width: 48rem) {
      .game h2 {
        font-size: 2rem; } }

.press {
  margin: auto;
  width: 100%;
  padding: 4em 1em; }
  @media (min-width: 56rem) {
    .press {
      width: 80%; } }
  @media (min-width: 72rem) {
    .press {
      width: 60%; } }
  .press div {
    padding: 2em 0;
    padding-top: 4em;
    overflow: hidden;
    border-bottom: #92d096 2px solid;
    float: right; }
    @media (min-width: 48rem) {
      .press div {
        height: 16em; } }
    @media (min-width: 72rem) {
      .press div {
        height: 18em; } }
    .press div img {
      float: left;
      width: 100%; }
      @media (min-width: 48rem) {
        .press div img {
          width: 35%;
          height: 100%; } }
    .press div div {
      padding: 1em;
      padding-top: .25em;
      width: 100%;
      height: 13.15em;
      border: none; }
      @media (min-width: 48rem) {
        .press div div {
          width: 60%;
          height: 100%; } }
      .press div div h3 {
        margin: 0;
        margin-top: .5em;
        text-align: center;
        font-size: 1.5rem;
        font-family: Montserrat;
        font-weight: 700; }
        @media (min-width: 48rem) {
          .press div div h3 {
            text-align: left;
            margin-top: 0; } }

.outreach {
  margin: auto;
  width: 100%;
  padding: 2em 1em; }
  @media (min-width: 48rem) {
    .outreach {
      padding: 4em 1em; } }
  @media (min-width: 56rem) {
    .outreach {
      width: 85%; } }
  @media (min-width: 72rem) {
    .outreach {
      width: 70%; } }
  @media (min-width: 84rem) {
    .outreach {
      width: 60%; } }
  .outreach .lines {
    padding: 0; }
  .outreach div {
    padding: 1em 2em;
    padding-top: 4em;
    overflow: hidden;
    border-bottom: #92d096 2px solid;
    float: right; }
    @media (min-width: 48rem) {
      .outreach div {
        padding-top: 8em; } }
    .outreach div img {
      float: left;
      width: 100%; }
    .outreach div div {
      padding: 1em;
      padding-top: .25em;
      width: 100%;
      border: none; }
      .outreach div div h3 {
        margin: 0;
        margin-top: .5em;
        text-align: center;
        font-size: 1.5rem;
        font-family: Montserrat;
        font-weight: 700; }
      .outreach div div p {
        height: 5em;
        text-align: center;
        overflow: hidden; }
        @media (min-width: 48rem) {
          .outreach div div p {
            height: 6em; } }
        @media (min-width: 72rem) {
          .outreach div div p {
            height: 7.5em; } }

.post {
  background: #f6f6f6;
  padding-bottom: 5em; }
  .post .post-img {
    position: relative;
    margin: auto;
    vertical-align: bottom; }
    .post .post-img img {
      width: 100%;
      background: #1b1b1b; }
    .post .post-img h2 {
      font-weight: 400;
      font-size: 2em;
      background: rgba(27, 27, 27, 0.85);
      letter-spacing: 5px;
      width: 100%;
      padding: 2.5em 0;
      margin: auto;
      text-align: center;
      position: absolute;
      bottom: 0px;
      vertical-align: bottom;
      color: #f6f6f6;
      text-transform: uppercase; }
  .post .post-text {
    padding-top: 3em; }
    @media (min-width: 48rem) {
      .post .post-text {
        margin-left: 16.6666%; } }
    .post .post-text p {
      margin: auto;
      padding-top: 3em;
      padding: 0 3em; }
  .post .recent-posts {
    display: none;
    padding-top: 3em;
    float: left; }
    @media (min-width: 48rem) {
      .post .recent-posts {
        display: block; } }
    .post .recent-posts h2 {
      width: 70%;
      margin: auto;
      text-align: center; }
    .post .recent-posts div {
      position: relative; }
      .post .recent-posts div img {
        width: 100%;
        background: #1b1b1b; }
      .post .recent-posts div h3 {
        text-transform: uppercase;
        text-align: center;
        font-size: 1.15em;
        letter-spacing: 3px;
        color: white;
        position: absolute;
        width: 100%;
        padding: .5em 0;
        background: rgba(27, 27, 27, 0.85);
        bottom: .25em; }

footer {
  background: #333;
  width: 100%; }
  footer div {
    margin: auto;
    width: 90%;
    color: #f6f6f6; }
    @media (min-width: 48rem) {
      footer div {
        width: 80%; } }
    @media (min-width: 56rem) {
      footer div {
        width: 65%; } }
    @media (min-width: 72rem) {
      footer div {
        width: 50%; } }
    footer div div {
      vertical-align: top;
      display: inline-block;
      margin: 2em;
      width: 80%; }
      @media (min-width: 48rem) {
        footer div div {
          margin: 4em; } }
      @media (min-width: 48rem) {
        footer div div {
          width: 40%; } }
      @media (min-width: 56rem) {
        footer div div {
          width: 25%; } }
      footer div div h3 {
        width: 100%;
        border-bottom: 2px #f6f6f6 solid;
        font-weight: 400; }
      footer div div a {
        font-weight: 400;
        color: #f6f6f6;
        font-family: Montserrat;
        display: block;
        font-size: .95rem;
        text-align: left;
        padding: 0;
        margin: 0;
        border: none;
        height: 1.5rem; }
    footer div p {
      width: 100%;
      font-size: .85rem;
      margin: 0;
      text-align: center;
      padding: 3em 2em;
      border-top: 2px #f6f6f6 solid; }

.press .lines {
  position: relative;
  padding: 0;
  width: 100%;
  height: auto;
  border: none; }
  .press .lines .lines-text {
    width: 70%; }
    @media (min-width: 48rem) {
      .press .lines .lines-text {
        width: 60%; } }
    @media (min-width: 56rem) {
      .press .lines .lines-text {
        width: 50%; } }
    @media (min-width: 72rem) {
      .press .lines .lines-text {
        width: 45%; } }

.outreach .lines {
  position: relative;
  padding: 0;
  width: 100%;
  height: auto;
  border: none; }
  .outreach .lines .lines-text {
    width: 70%; }
    @media (min-width: 48rem) {
      .outreach .lines .lines-text {
        width: 60%; } }
    @media (min-width: 56rem) {
      .outreach .lines .lines-text {
        width: 50%; } }
    @media (min-width: 72rem) {
      .outreach .lines .lines-text {
        width: 45%; } }

.lines {
  position: relative;
  text-align: center; }
  .lines:after {
    content: '';
    z-index: -10;
    width: 100%;
    display: inline-block;
    border-bottom: 2px solid #92d096;
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 0; }

.lines-dark {
  position: relative;
  text-align: center; }
  .lines-dark:after {
    content: '';
    z-index: -10;
    width: 100%;
    display: inline-block;
    border-bottom: 2px solid #36713a;
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 0; }

.lines-text {
  position: relative;
  background: #ffffff;
  z-index: 1;
  margin: auto; }

.lines-text-dark {
  position: relative;
  background: #1b1b1b;
  z-index: 1;
  width: 350px;
  margin: auto; }

/*# sourceMappingURL=styles.css.map */
