<div class="header-background"></div>
<div class="post grid">
  <div class="grid__item--sm-span-8 post-img">
    <img src="pictures/blogpicture.jpg" />
    <h2><%= @post.title %></h2>
  </div>
  <div class="grid__item--sm-span-6 post-text">
    <p class="body-font">
      <%= @post.content %>
    </p>
  </div>
  <div class="grid__item--sm-span-2 recent-posts">
    <div class="lines">
      <h2 class="lines-text">Recent Posts</h2>
    </div>
    <div>
      <img src="pictures/blogpicture.jpg" />
      <h3>2014 INTERNET CONFERENCE</h3>
    </div>
  </div>
</div>
