<header class="admin-header">
  <div class="admin">
    <p class="name">Callum</p>
    <p class="role">Superadmin</p>
  </div>
  <nav>
    <div><a>Outreach</a><i class="fa fa-chevron-down" aria-hidden="true"></i>
</div>
    <div><a>Press</a><i class="fa fa-chevron-down" aria-hidden="true"></i>
</div>
    <div><a>Members</a><i class="fa fa-chevron-down" aria-hidden="true"></i>
</div>
    <div><a>Widgets</a><i class="fa fa-chevron-down" aria-hidden="true"></i>
</div>
    <div><a>Users</a><i class="fa fa-chevron-down" aria-hidden="true"></i>
</div>
  </nav>
</header>
