<footer>
  <div>
    <div>
      <h3>NAVIGATION</h3>
      <a href="#" >Home</a>
      <a href="#" >First</a>
      <a href="#" >Press</a>
      <a href="#" >Outreach</a>
    </div>
    <div>
      <h3>RESOURCES</h3>
      <a href="#" >Sign Up</a>
      <a href="#" >Calendar</a>
      <a href="#" >Contact</a>
    </div>
    <p>
      &copy; HBRLive!  Designed and made by HBR Web Development.
    </p>
  </div>
</footer>
