<header class="mobile-header">
  <div class="nav-icon" id="nav-icon"><i class="fa fa-bars fa-lg" aria-hidden="true"></i></div>
  <div class="mobile-nav-content">
    <nav>
        <div>
          <a href="google" id="dropdown-link">FIRST <i class="fa fa-chevron-down dropdown-chevron" aria-hidden="true" id="dropdown-chevron"></i></a>
          <div class="dropdown" id="dropdown-items">
            <a href="#">Games</a>
            <a href="#">Leagues</a>
          </div>
        </div>
        <div>
          <a href="#" id="dropdown-link">MEDIA <i class="fa fa-chevron-down dropdown-chevron" aria-hidden="true" id="dropdown-chevron"></i></a>
          <div class="dropdown" id="dropdown-items">
            <a href="#">Games</a>
            <a href="#">Leagues</a>
          </div>
        </div>
        <div>
          <a href="#" id="dropdown-link">MEMBERS <i class="fa fa-chevron-down dropdown-chevron" aria-hidden="true" id="dropdown-chevron"></i></a>
          <div class="dropdown" id="dropdown-items">
            <a href="#">Games</a>
            <a href="#">Leagues</a>
          </div>
        </div>
    </nav>
  </div>
</header>
<header class="header-main">
    <div>
        <a>Team <span>1747</span></a>
        <nav>
            <div>
              <a href="#">FIRST <i class="fa fa-chevron-down" aria-hidden="true" id="dropdown-chevron"></i></a>
              <div class="dropdown">
                <a href="#">Games</a>
                <a href="#">Leagues</a>
              </div>
            </div>
            <div>
              <a href="#">MEDIA <i class="fa fa-chevron-down" aria-hidden="true" id="dropdown"></i></a>
              <div class="dropdown">
                <a href="#">Games</a>
                <a href="#">Leagues</a>
              </div>
            </div>
            <div>
              <a href="#">MEMBERS <i class="fa fa-chevron-down" aria-hidden="true" id="dropdown"></i></a>
              <div class="dropdown">
                <a href="#">Games</a>
                <a href="#">Leagues</a>
              </div>
            </div>
        </nav>
    </div>
</header>
