<div class="link-back">
  <i class="fa fa-long-arrow-left fa-lg" aria-hidden="true"></i>
  <%= link_to 'Back to Dashboard', :controller => :admin, :action => :home %>
</div>
  <h1>MANAGE SPONSORS</h1>
  <div class="manage-sponsors">
    <% @sponsors.each do |sponsor| %>
    <div>
      <%= image_tag("/#{sponsor[7..-1]}") %>
    </div>
    <% end %>
  </end>
</div>
